.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea
repository
/repository/configuration.cdn
/repository/static/favicon.png
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.jar
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.jar.md5
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.jar.sha1
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.jar.sha256
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.jar.sha512
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.pom
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.pom.md5
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.pom.sha1
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.pom.sha256
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7.pom.sha512
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-javadoc.jar
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-javadoc.jar.md5
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-javadoc.jar.sha1
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-javadoc.jar.sha256
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-javadoc.jar.sha512
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-sources.jar
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-sources.jar.md5
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-sources.jar.sha1
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-sources.jar.sha256
/repository/repositories/releases/xyz/snaker/hiss/Hiss/1.7/Hiss-1.7-sources.jar.sha512
/repository/static/index.html
/repository/latest.log
/repository/logs/log_2024-07-28_16-33-28.txt
/repository/logs/log_2024-07-28_16-33-28.txt.gz
/repository/logs/log_2024-07-28_16-44-08.txt
/repository/logs/log_2024-07-28_16-44-08.txt.gz
/repository/logs/log_2024-07-28_16-48-02.txt
/repository/logs/log_2024-07-28_16-48-02.txt.gz
/repository/logs/log_2024-07-28_16-49-48.txt
/repository/logs/log_2024-07-28_16-49-48.txt.gz
/repository/logs/log_2024-07-28_16-52-04.txt
/repository/logs/log_2024-07-28_16-52-04.txt.gz
/repository/logs/log_2024-07-28_16-53-25.txt
/repository/repositories/releases/xyz/snaker/hiss/Hiss/maven-metadata.xml
/repository/repositories/releases/xyz/snaker/hiss/Hiss/maven-metadata.xml.md5
/repository/repositories/releases/xyz/snaker/hiss/Hiss/maven-metadata.xml.sha1
/repository/repositories/releases/xyz/snaker/hiss/Hiss/maven-metadata.xml.sha256
/repository/repositories/releases/xyz/snaker/hiss/Hiss/maven-metadata.xml.sha512
/repository/.local/reposilite.address
/repository/reposilite.db
/repository/reposilite-3.5.14-all.jar
